{
  "extends": [
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "eqeqeq": "warn",
    "prettier/prettier": ["warn", { "endOfLine": "auto" }],
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "never",
      "asyncArrow": "always"
    }]
  }
}
